@page "/"
@inherits IndexBase

<h1>Welcome to your fantastic task board</h1>

@if (TaskLists == null)
{
    <div>Loading task lists...</div>
}
else
{
    <button class="btn btn-primary button-addtask" @onclick="AddTaskList"><i class="fas fa-plus-circle"></i>Add task list</button>

    @foreach (var taskList in TaskLists)
    {
        <CascadingValue Value="@this">
            <TaskList TaskList="taskList" RemoveTaskList="() => RemoveTaskList(taskList.TaskList.Id)" @ref="TaskListRef"></TaskList>
        </CascadingValue>
    }
}