@page "/"
@inherits IndexBase

<h1>Welcome to your fantastic task board</h1>

@if (TaskLists == null)
{
    <div>Loading task lists...</div>
}
else
{
    <div @onclick="AddTaskList"><i class="fas fa-plus-circle"></i>Add task list</div>

    @foreach (var taskList in TaskLists)
    {
        <TaskList TaskList="taskList"></TaskList>
    }
}