@page "/"
@inherits IndexBase

<h1>Welcome to your fantastic task board</h1>

@if (TaskLists == null)
{
    <div>Loading task lists...</div>
}
else
{
    @foreach (var taskList in TaskLists)
    {
        <div class="tasklist-container">
            <div class="tasklist-button">X</div>
            <div>@taskList.TaskList.Name</div>
        </div>
    }
}