.tasklist-container {
    background: #a4ffa4;
    padding: 6px 8px;
    border: 1px solid #46bb46;
    border-radius: 4px;
    cursor: pointer;
}

.tasklist-button {
    float: right;
    width: 30px;
    height: 30px;
    border: 2px solid #46bb46;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    padding-top: 2px;
    margin-top: -3px;
}

.task-container {
    padding-left: 20px;
    margin-bottom: 5px;
}

.task-name {
    font-weight: bold;
}

.task-description {
    font-size: 12px;
}
