@page "/"
@inherits IndexBase

<h1>Welcome to your fantastic task board</h1>

@if (TaskLists == null)
{
    <div>Loading task lists...</div>
}
else
{
    <div @onclick="AddTaskList"><i class="fas fa-plus-circle"></i>Add task list</div>

    @foreach (var taskList in TaskLists)
    {
        <div class="tasklist-container" @onclick="() => ToggleTaskList(taskList)">
            <div class="tasklist-button" @onclick="() => DeleteTaskList(taskList.TaskList.Id)"><i class="far fa-trash-alt"></i></div>
            <div>@taskList.TaskList.Name</div>
        </div>
        @if (taskList.IsExpanded && taskList.Tasks != null)
        {
            @foreach (var taskItem in taskList.Tasks)
            {
                <div class="task-container">
                    <div class="task-name">@taskItem.Name</div>
                    <div class="task-description">@taskItem.Description</div>
                </div>
            }
        }
    }
}