@inherits TaskListBase

<div class="tasklist-container" @onclick="ToggleTaskList">
    <div class="tasklist-button" @onclick="DeleteTaskList" @onclick:stopPropagation="true"><i class="far fa-trash-alt"></i></div>
    <div class="tasklist-button" @onclick="AddTaskItem" @onclick:stopPropagation="true"><i class="fas fa-plus-circle"></i></div>
    <div>@TaskList.TaskList.Name</div>
</div>
@if (TaskList.IsExpanded && TaskList.Tasks != null)
{
    @if (TaskList.Tasks != null && TaskList.Tasks.Any())
    {
        @foreach (var taskItem in TaskList.Tasks)
        {
            <TaskItem TaskItem="taskItem" RefreshTaskList="GetTaskItems"></TaskItem>
        }
    }
    else
    {
        <TaskItem TaskItem="null"></TaskItem>
    }
}