.task-container {
    position: relative;
    padding-left: 10px;
    padding-right: 40px;
    margin-bottom: 5px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.task-name {
    font-weight: bold;
    height: 38px;
}

.task-description {
    font-size: 12px;
}

.taskitem-button {
    position: absolute;
    top: 4px;
    width: 30px;
    height: 30px;
    border: 2px solid #46bb46;
    border-radius: 15px;
    font-weight: bold;
    text-align: center;
    padding-top: 2px;
    cursor: pointer;
}

.delete-button {
    right: 4px;
}

.edit-button {
    right: 37px;
}

.transfer-button {
    right: 70px;
}